* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
    text-transform: capitalize;
}

body {
	background: linear-gradient(rgba(0, 0, 0, 0.596),rgba(0, 0, 0, 0.6)),url(https://media.istockphoto.com/photos/downtown-cleveland-hotel-entrance-and-waiting-taxi-cab-picture-id472899538?k=20&m=472899538&s=612x612&w=0&h=ZuEBl5Pq1_cn9pUsG_jAGQmiT0UgL1jyl7TZY6w-K0g=);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


::placeholder {
    color: rgb(255, 255, 255);
  }

  input,textarea{
      background-color: black;
      width: 150px;
      height: 50px;
      border-top-left-radius:25% ;
      border-bottom-right-radius:25% ;
      text-align: center;
      color: white;
  }
